*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    height: 100vh;
    position: relative;
    width: 100vw;
    background-color:#f1f1f1 ;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color:#f1f1f1;
    position: relative;
}
#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color:#f1f1f1;
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color:#f1f1f1;
    position: relative;
}
canvas{
  max-width: 100vw;
    max-height: 100vh;
    position: relative;
    z-index: 9;
}
#loop{
    position: absolute;
    top: 30%;
    height:25%;
    width: 100%;
    font-family: gilroy;
    font-size: 100px;
    display: flex;
    /* background-color: red; */
    white-space: nowrap;
}
#loop>h1{

font-weight: 400;
animation-name: anim;
animation-duration: 25s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}
@keyframes anim {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#nav{
    height: 7%;
    width: 100%;
    /* background-color: red; */
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

}
#nav>h3{
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
}
#nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;

    border: none;
}
#page>h3{
    position: absolute;
    top: 58%;
    font-family: gilroy;
    font-weight: 100;
    color:#7c7c7c;
    left: 6%;
    font-size: 16px;
}
#page>h4{
    position: absolute;
    top: 68%;
    left: 25%;
    font-weight: 500;
}
#page1>#right-text{
    position: absolute;
    left: 10%;
    top: 30%;
}
#page1>#right-text>h3{
    font-weight: 400;
    color: #7c7c7c;
}
#page1>#right-text>h1{
    line-height: 1.5;
    font-size: 50px;
}
#page1>#left-text{
    position: absolute;
    top: 40%;
    right: 10%;
    text-align: end;
}
#page1>#left-text>h1{
    font-size: 50px;
    line-height: 1.5;
}
#page1>#left-text>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1{
   position: absolute;
   top: 30%;
   left: 10%;
}
#page2>#text1>h3{
    font-weight: 400;
    color: #7c7c7c;
}
#page2>#text1>h1{
    font-size: 60px;
    line-height: 1.5;
}
#page2>#text2{
    position: absolute;
    top: 55%;
    right: 5%;
    text-align: end;
}
#page2>#text2>p{
    color: #7c7c7c;
  font-weight: 400;
}
#page3>#text3>h1{
    font-size: 70px;
}
#page3>#text3{
    position: absolute;
    top: 40%;
    right: 10%;
    text-align: end;
}
#page3>#text3>h3{
    color: #7c7c7c;
  font-weight: 400;
}
#page4{
    height: 100vh;
    width: 100vw;
    background-color:#f1f1f1;
    position: relative;
   
}
#page4>#topp{
position: relative;
top: 5%;
font-size: 40px;
}
#topp>h1>span{
    position: relative;
    top: 5%;
    left: 20%;
    font-size: 80px;
}
 #topp>h1{
        position: relative;
        top: 5%;
        left: 10%;
        font-size: 80px;
}
#page3{
    height: 100vh;
    width: 100vw;
}
#bottom{
    height: 80%;
    width: 100%;
    top: 20%;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    display: flex;
    /* background-color: green; */
}
#bottom #imgii{
    position: relative;
    object-fit: cover;
    display: flex;
    object-position: center;
    animation-name: anime;
animation-duration: 50s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#page5{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgb(23 16 16);
}
#page5>#upper>h1{
    position: absolute;
    top: 10%;
font-size: 55px;
left: 34%;
    color: #fff;
}
#page5>#upper>h3{
    position: absolute;
    top: 20%;
font-size: 15px;
left: 38%;
font-weight: 100;
    color: #fff;
}
#page5 #middle{
    height: 80%;
    width: 100%;
    position: absolute;
    top: 30%;
    /* background-color: green; */
}
#page5 #middle1{
    position: absolute;
    height:40%;
    /* padding-bottom: 50px; */
    width: 100%;
    font-family: gilroy;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    white-space: nowrap;
    
}
@keyframes animeee {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#page5 #middle1>h1{
-webkit-text-stroke: 1.2px #f1f1f1;
color: transparent;
    font-weight: 400;
    animation-name: animeee;
    animation-duration: 25s;
    /* animation-fill-mode: forwards; */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
#page5 img{
    position: absolute;
    left: 28%;
    z-index: 9;
    top: 20%;
    height: 800px;
}
#page5 #middle #middle2>h1{
    -webkit-text-stroke: 1.2px #f1f1f1;
    color: transparent;
        font-weight: 400;
        animation-name: kritika;
        animation-duration: 35s;
        /* animation-fill-mode: forwards; */
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        }
        @keyframes kritika{
            0%{
                transform: translateX(-100%);
            }
            100%{
                transform: translateX(0%);
            }
        }
        
        #page5 #middle2{
            position: absolute;
            top: 20%;
            height:40%;
            /* padding-bottom: 50px; */
            width: 100%;
            font-family: gilroy;
            font-size: 70px;
           display: flex;
           align-items: center;
           justify-content: space-between;
            /* background-color: blue; */
            white-space: nowrap;
            
        }
        #page5 #middle3{
            position: absolute;
            height:40%;
            top: 42%;
            /* padding-bottom: 50px; */
            width: 100%;
            font-family: gilroy;
            font-size: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            /* background-color: red; */
            white-space: nowrap;
            
        }
        #page5 #middle3>h1{
            -webkit-text-stroke: 1.2px #f1f1f1;
            color: transparent;
                font-weight: 400;
                animation-name: animeee;
                animation-duration: 35s;
                /* animation-fill-mode: forwards; */
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                }
                #page6{
                    height: 100vh;
                    width: 100vw;
                    position: relative;
                    background-color: rgb(23 16 16);
                }             
                #page6 h1{
            position: absolute;
            top: 30%;
            left: 150px;
            font-size: 180px;
            color:transparent;
            -webkit-text-stroke: 1.2px white;
                }     
#page6 h1 span{
          position: absolute;
          top:80%;
          left: 200px;
          font-size: 180px;  
          color:transparent;
         -webkit-text-stroke: 1.2px white;
}
#page6 button{
    position: absolute;
    top: 80%;
    padding: 14px 30px;
   
    background-color: transparent;
    border: 2px solid white;
    color: white;
    left: 45%;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.5s;
    font-size: 13px;
    font-weight: 100;
}  
#page6 button:hover{
border-radius: 15px;

}
